<h1>El de la foto soy yo...</h1>
<img width="150" src="https://avatars3.githubusercontent.com/u/1209238?v=3&s=460" alt="Andrés Villanueva - El de la foto soy yo">
<br>
<p>Hola, me llamo Andrés Villanueva, soy venezolano y desarrollador web frontend. Estoy esto del desarrollo web desde el 2012, de manerá profesional. He trabajado con varias tecnologías, pero desde mis inicios me he sentido atraido por Javascript. Aunque muchos dicen que tengo buen nivel de conocimientos, pienso que siempre podemos dar más.</p>
<p>Actualmente me encuentro trabajando para una empresa donde usamos AngularJS en un ERP desarrollado in house.</p>
<p>En mis ratos libres me gusta aprender más sobre Javascript, AngularJs, NodeJs, aplicaciónes hibridas y más. En ocasiones hago stand up comedy en la ciudad donde vivo. Mira todo lo que he hecho en mi cuenta en <a href="https://github.com/Villanuevand" title="Yo en GITHUB! - Andrés Villanueva">GITHUB</a></p>