<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Preguntas</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/wide.css" type="text/css"
		media="only screen and (min-width: 530px) and (min-device-width: 481px)">
	<link rel="stylesheet" href="/stylesheets/smartphone.css" type="text/css" 
		media="only screen and (max-width: 480px)">	
</head>
<body>
	<div id="page-wrap">
		<header id="id1" class="main">
			<h2>QUIZ: El juego de preguntas!</h2>	
		</header>
		<nav id="n1" class="main" role="navitagion">
			<a href="/">Inicio</a>
			<a href="/quizes">Preguntas</a>
			<a href="/author">Autor</a>
		</nav>
		<section class="main" id="s1">
			<%- body %>
		</section>
		<footer class="main" id="f1">
			<a href="http://es.wikipedia.org/wiki/quiz">¿Qué es un quiz?</a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://github.com/Villanuevand/quiz" title="Mira el proyecto en GitHub!">
				<i class="fa fa-github"></i>
			</a>
		</footer>
	</div>	
</body>
</html>