* {margin: 0; padding: 0}
body { font: 62.5%; font-family: 'Roboto', sans-serif;}
section > div {padding:2em;}
header, nav, section, footer {background-color:#eee; text-align: center}
nav a {margin: 0 1em 0 0;}
#page-wrap {color: #fff; margin:2% auto; }
#page-wrap > .main {border:1px solid #999;color:#000 ; margin:0 0 0.2em; padding: 0.9em;}
