<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel="stylesheet" href="/stylesheet/style.css" />
</head>
<body>
	<h2>QUIZ: El juego de preguntas!</h2>
	<form action="/quizes/answer" method="get">
		Pregunta: <%= pregunta %>
		<input type="text" name="respuesta" placeholder="Responda aqui">
		<input type="submit" value="Enviar!">
	</form>
</body>
</html>