<form method="GET" action="/quizes/<%= quiz.id %>/answer">
    <h2>Pregunta</h2>
    <p><%= quiz.pregunta %></p>
    <input type="text" name="respuesta" value="Respuesta"/>
    <input type="submit" value="Enviar"/>
</form>